.grid-row {
    display: flex;
    flex-direction: row;

}

.grid-container {
    display: flex;
    flex-direction: column;
}

.square {
    height: 2em;
    width: 2em;
    border: 2px solid black;
}

.square:hover{
    background-color: aqua;
}